/* ==================== ANUNCIOS */
.anuncios{
	background: #FAFBFC;

	display: grid;
	grid-area: anuncios;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 30px;
	
	justify-content: space-around;
	align-content: start;
	padding: 3rem;
}