.anuncios{
	background: #FAFBFC;
	display: grid;
	align-content: start;
	padding: 3rem;
	gap: 30px;
	justify-content: space-around;
	align-content: start;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}