/* ==================== CONTEUDO */
.conteudo{
	max-width: 900px;

	display: grid;
	grid-area: conteudo;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	
	padding: 3rem;
	margin: 0 auto;
}

.col-wide{
	grid-column: 1 / -1;
}

.informacoes{
	color: #B07DFB;
}

.informacoes__titulo{
	font-size: 6rem;
	font-weight: 700;
	line-height: 1;
}

.informacoes__subtitulo{
	font-size: 1.4rem;
	font-style: italic;
}

.caracteristicas{
	display: flex;
	align-items: flex-start;
}

.caracteristicas-box{
	background: linear-gradient(135deg, #8844EE, #B07DFB);

	width: 80px;
	position: relative;
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
	text-align: center;
}

.caracteristicas-box:first-child{
	margin-right: 3rem;
}

.caracteristicas-box span{
	color: #B07DFB;
	display: block;
}

.caracteristicas-valor{
	margin: 1rem auto;
	font-size: 4.8rem;
	line-height: 1;
}

.caracteristicas-rotulo{
	background: #FFFFFF;
	
	position: relative;
	top: 2px;
	padding: 5px 0;
	border-radius: 0 0 5px 5px;
	
	font-size: 1.6rem;
}

.conteudo__img__primeiro-subtexto{
	color: #B07DFB;
	max-width: 16em;
	font-size: 1.4rem;
}

.conteudo__img__primeiro{
	grid-row: span 2;
	align-self: end;
}

.conteudo__img__segundo{
	align-self: end;
}

.citacao, .atributos{
	background: linear-gradient(135deg, #8844EE, #B07DFB);

	align-self: start;
	padding: 3rem;
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao__texto{
	color: #FFFFFF;

	max-width: 500px;
	margin: 0 auto;

	font-size: 2.2rem;
	font-style: italic;
	text-align: center;
}

.atributos__itens{
	color: #FFFFFF;
	
	padding: 1.5rem;
	font-family: Courier, monospace;
	font-size: 1.8rem;
}

.atributos__itens + .atributos__itens{
	border-top: 2px solid #B07DFB;
}

.conteudo__coluna .conteudo__coluna-texto + .conteudo__coluna-texto{
	margin-top: 3rem;
}

@media screen and (max-width: 600px){
	.conteudo{
		grid-template-columns: auto;
	}
}