/* ==================== FOOTER */
.footer{
	background: linear-gradient(135deg, #8844EE, #B07DFB);
	grid-area: footer;
}

.footer__texto{
	color: #FFFFFF;
	
	padding: 3rem;
	font-size: 1.8rem;
	text-align: center;
}