/* ==================== SIDENAV */
.sidenav{
	background: #FAFBFC;
	grid-area: sidenav;
	padding: 3rem;
}

.sidenav__itens{
	background: #FFFFFF;

	display: block;
	min-width: 60px;
	max-width: 100px;
	
	padding: 1.5rem;
	margin: 0 auto 3rem auto;
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);

	transition: .1s ease-out;
}

.sidenav__itens:hover{
	background: #B07DFB;
}

@keyframes seta{
	from{
		right: 30px;
	}to{
		right: 20px;
	}
}

@media screen and (max-width: 760px){
	.sidenav{
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		position: relative;
		padding: 0 3rem;
	}

	.sidenav::after{
		content: '→';
		color: rgba(0, 0, 0, .3);

		position: absolute;
		top: 5px;
		right: 30px;
		
		animation: seta .5s ease-in 0s infinite alternate;
	}

	.sidenav__lista{
		display: flex;
	}

	.sidenav__icones{
		flex: 1 0 60px;
	}

	.sidenav__itens{
		margin: 3rem 3rem 3rem 0;
	}
}